<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "patients">
    
    <select id = "getPatients" resultType = "pojo.Patient">
        SELECT * FROM paciente
    </select>
    
    <select id = "getByDrId" resultType = "pojo.Patient" parameterType = "int">
        SELECT * FROM paciente WHERE idPaciente = #{idPaciente}
    </select>
        
    <insert id = "save" parameterType = "modelo.pojo.Patient">
        INSERT INTO paciente(nombre, apellidoPaterno, apellidoMaterno, fechaNacimiento, sexo, peso, estatura, tallaInicial, email, telefono, password, fotografia,
                             idDomicilio, idMedico)
        VALUES (#{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{fechaNacimiento,}, #{sexo}, #{peso}, #{estatura}, #{tallaInicial}, #{email}, #{telefono}, 
                #{password}, #{fotografia}, #{idDomicilio}, #{idMedico})
    </insert>
    
    <update id = "edit" parameterType = "map">
        UPDATE paciente SET nombre = #{nombre}, apellidoPaterno = #{apellidoPaterno}, apellidoMaterno = #{apellidoMaterno}, fechaNacimiento = #{fechaNacimiento},
                            sexo = #{sexo}, peso = #{peso}, estatura = #{estatura}, tallaInicial = #{tallaInicial}, email = #{email}, telefono = #{telefono}, 
                            password = #{password}, fotografia = #{fotografia}, idDomicilio = #{idDomicilio}, idMedico = #{idMedico}
        WHERE idPaciente = #{idPaciente}
    </update>
    
    <delete id="del" parameterType="int">
        DELETE FROM paciente WHERE idPaciente = #{idPaciente}
    </delete>
</mapper>